/*放變數$,設定顏色,字型大小,字型,間距*/
:root {
  /* ===============================
     字體設定 (1,3,5,7方便加字級) --f 開頭
     =============================== */

  --font_H1: 35pt;
  --font_H2: 32pt;
  --font_H3: 28pt;
  --font_H4: 24pt;
  --font_H5: 20pt;
  --fontBody: 18pt;
  /*內文*/

  /* ===============================
     色彩系統 Colors (可以換顏色) --c 開頭
     =============================== */
  --color_font: #000000;
  --color_btnLight: #ffffff;
  --color_Light: #62DEB1;
  --color_Dark: #00968A;
  
  --color_Contrast: #ED5F00;
  --color_Green: #2AB514;
  /*提示*/
  --color_nav: #DAF3F3;
  /*淡藍色導覽列*/
  --color_DarkGray: #464646;
  --color_Gray: #C0C0C0;
  /*未驗證登入按鈕*/
  --color_link: #377BC3;
  /*連結*/
  --color_bk: #ffffff;
  /*背景*/
  --color_card: #ffffff;
  /*卡片*/
  --color_Border: #e0e0e0;
  /*輸入框線條*/
}

@media screen and (max-width: 992px) {
  :root {

    --f_h1: 2rem;
    /* 32px：主標題 */
    --f_h2: 1.75rem;
    --f_h3: 1.5rem;
    /* 24px：次標題 */
    --f_h4: 1.25rem;
    /* 20px：小標 */
    --f_h5: 1.125rem;
    /* 18px：輔助標題 */
    --f_body: 1rem;
    /* 16px：內文 */
    --f_small: 0.875rem;
    /* 14px：註解 / 次要文字 */
  }
}