@{
    ViewData["Title"] = "景點探索";
    Layout = "~/Views/Shared/_Layout-copy.cshtml";
}

@* 1. 頁面專屬 CSS 區塊 *@
@section Styles {
    @* <link rel="stylesheet" href="~/css/trip/trip.css" /> *@
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="mb-0">景點探索</h1>       
    </div>
</div>

@section Scripts {
    @* <script src="~/js/trip/trip.js" asp-append-version="true"></script> *@
}