@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
    var tokens = Antiforgery.GetAndStoreTokens(Context);
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h1 class="titleWrap titleH1">修改密碼</h1>

<div class="change_password_section mt-4">
    <div class="mb-2">
        <div>舊密碼</div>
        <div class="input_group_custom position-relative">
            <input id="cp_old" type="password" class="pwdChange form-control input1" placeholder="舊密碼">
            <span class="btn-toggle-pwd" data-target="#cp_old" data-open-src="~/img/eye.svg" data-closed-src="~/img/eye-closed.svg" role="button" style="cursor:pointer; position:absolute; right:10px; top:50%; transform:translateY(-50%);">
                <img src="~/img/eye-closed.svg" alt="顯示密碼" />
            </span>
        </div>
        <div id="oldPwdHint" class="inputHint mt-2"></div>
    </div>
    <div class="mb-2">
        <div>新密碼</div>
        <div class="input_group_custom position-relative">
            <input id="cp_new" type="password" class="pwdChange form-control input1" placeholder="新密碼">
            <span class="btn-toggle-pwd" data-target="#cp_new" role="button" style="cursor:pointer; position:absolute; right:10px; top:50%; transform:translateY(-50%);">
                <img src="~/img/eye-closed.svg" alt="顯示密碼" />
            </span>
        </div>
        <div id="new_password_hint" class="inputHint mt-2"></div>
    </div>
    <div class="mb-2">
        <div>確認新密碼</div>
        <div class="input_group_custom position-relative">
            <input id="cp_confirm" type="password" class="pwdChange form-control input1" placeholder="確認新密碼">
            <span class="btn-toggle-pwd" data-target="#cp_confirm" role="button" style="cursor:pointer; position:absolute; right:10px; top:50%; transform:translateY(-50%);">
                <img src="~/img/eye-closed.svg" alt="顯示密碼" />
            </span>
        </div>
        <div id="confirm_new_password_hint" class="inputHint mt-2"></div>
    </div>
    <button id="btnChangePwd" class="btn btn_light" disabled>變更密碼</button>
</div>
<a href="@Url.Action("Index", "Home")" class="back-home-link">
    回到首頁
</a>
@section Scripts {
    <script>
        window.csrfToken = "@tokens.RequestToken";
    </script>

    <!-- memberCenter.js 可載入（會自動跳過日曆），但必須在 helper.js 之後 -->
    <script src="~/js/AuthApi/memberCenter.js" asp-append-version="true"></script>
    <script src="~/js/AuthApi/changePassword.js" asp-append-version="true"></script>
}