@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
    var tokens = Antiforgery.GetAndStoreTokens(Context);
    ViewData["Title"] = "註冊";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<body class="auth-page">
<div class="signWrap">
    <div class="container-fluid p-0">
        <div class="row g-0 min-vh-100">
            <div class="signContent s1 col-12 col-lg-6">
                <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/img/carousel1.png" class="ca1" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/img/carousel2.png" class="ca1" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/img/carousel3.png" class="ca1" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="signContent s2 col-12 col-lg-6 ">
                <div class="loginWrap mb-4">
                    @* 使用 Url.Action 跳轉到登入頁 *@
                    <a href="@Url.Action("Login", "Auth")" class="inputNone loginH1 titleWrap titleH1">登&ensp;入</a>
                    <a href="@Url.Action("Signup", "Auth")" class="inputLine SignH1 titleWrap titleH1">註&ensp;冊</a>
                </div>

                <div class="formWrap">
                    <label class="account titleWrap titleH4 d-block">帳號 *</label>

                    <div class="input_row email_row">
                        <input id="email" class="email2" type="email" placeholder="example@gmail.com">
                        <button class="btn btn_light eLabel" id="checkEmail">寄驗證信</button>
                    </div>

                    <div class="goodHint">
                        <div id="emailHint" class="inputHint"></div>
                    </div>

                    <label class="account titleWrap titleH4 d-block mt-3">密碼 *</label>
                    <div class="input_group_custom">
                        <input type="password" id="password" class="input1 psw" placeholder="6 到 18 位數密碼和大小寫英文">
                        <span class="btn-toggle-pwd" data-target="#password">
                            <img src="~/img/eye-closed.svg" alt="顯示密碼">
                        </span>
                    </div>
                    <div class="goodHint">
                        <div id="pwdHint" class="inputHint"></div>
                    </div>

                    <label class="titleWrap titleH3 d-block mt-3">確認密碼 *</label>
                    <div class="input_group_custom">
                        <input type="password" id="confirmPassword" class="input1 psw" placeholder="請再次輸入密碼">
                        <span class="btn-toggle-pwd" data-target="#confirmPassword">
                            <img src="~/img/eye-closed.svg" alt="顯示密碼">
                        </span>
                    </div>
                    <div class="goodHint">
                        <div id="confirmHint" class="inputHint"></div>
                    </div>
                        <p class="privacy"> * 註冊即表示您同意<a src="" class="privacyLink">隱私權政策</a>及<a src="" class="serviceLink">服務條款</a>。</p>
                    <button type="button" class="btn btn_Gray confirmCheck eLabel mt-4" id="btnRegister" disabled>建立帳戶</button>
                    <div class="mt-4">
                        <div class="backIndexWrap">
                            <div class="backIndex back-home-link text-center">
                                    <a href="javascript:void(0)" id="btnClearAndNew">註冊新帳號</a>｜<a href="@Url.Action("Index", "Home")">回到首頁</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<script>
    window.csrfToken = "@tokens.RequestToken";

    $(function () {
        if (typeof bindPasswordToggle === 'function') {
            bindPasswordToggle();
        }
    });
</script>


<!-- signup 功能腳本 -->
<script src="~/js/AuthApi/signup.js" asp-append-version="true"></script>
}

</body>